<%- include('includes/header') %>
    <!---Body Starts here--->
    <div class="conatiner py-md-5">

        <%- include('includes/flash') %>
''        
        <div class="row align-items-center">
            <div class="col-lg-7 py-3 py-md-5">
                <h2 class="display-4">Community For Geeks 👨‍💻!! </h2>
                <p class="lead text-muted">Enjoy posts and tweets on new technologies by developers for Developers!!</p>
            </div>
            <div class="col-lg-5  pl-lg-5 mb-3 py-lg-5">
                <form action="/register" method="POST" id="registration-form">
                    <% regErrors.forEach(function(msg){ %>
                        <div class="alert alert-danger small"><%= msg %></div>
                      <% }) %>
            

                    <div class="form-group">
                        <label for="username-register" class="text-muted mb-1"><small>Username</small></label>
                        <input name="username" type="text" class="form-control f" placeholder="Pick a Username" autocomplete="off" id="username-register">
                    </div>
                    <div class="form-group">
                        <label for="type-register" class="text-muted mb-1"><small>Profile</small></label>
                        <select name="profile" class="form-control" id="profile-register" type="text" placeholder="Pick a Profile" autocomplete="off">
                            <option value="Android Developer"> Android Developer</option>
                            <option value="Web Developer"> Web Developer</option>
                            <option value="Blockchain Developer">Blockchain Developer</option>
                            <option value="ML Enginner">ML Enginner</option>
                            <option value="Coding Instructor">CodingInstructor</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="email-register" class="text-muted mb-1"><small>Email</small></label>
                        <input name="email" type="text" placeholder="you@example.com" class="form-control" id="email-register" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="password-register" class="text-muted mb-1"><small>Password</small></label>
                        <input name="password" type="password" class="form-control" id="password-register" placeholder="Create a password">
                    </div>

                    <button type="submit" class="py-3 mt-4 btn btn-lg btn-info btn-block "> Sign up for Devspace </button>

                </form> 
            </div>
        </div>
    </div>

 <%- include('includes/footer') %>
